array-split==0.5.2
attrs==19.3.0
cycler==0.10.0
decorator==4.4.1
flatdict==3.4.0
h5py==2.10.0
imageio==2.6.1
importlib-metadata==1.4.0
jsonschema==3.2.0
kiwisolver==1.1.0
llvmlite==0.31.0
matplotlib==3.1.2
mpmath==1.1.0
networkx==2.4
numba==0.47.0
numpy==1.18.1
pandas==0.25.3
Pillow==7.0.0
pyparsing==2.4.6
PyQt5==5.14.0
PyQt5-sip==4.19.20
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
sympy==1.5.1
TBB==0.1
tqdm==4.42.0
transforms3d==0.3.1
unyt==2.6.0
zipp==2.1.0
